.research, .upgrades {
  color: #CCC;
}

.purchase, .perform, .purchase-storage {
  cursor: pointer;
}

html {
  font-family: 'Open Sans', sans-serif;
}

li {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: #a1a0b8;
  padding: 20px;
}

.machine-name {
  font-style: italic;
}

h1 {
  font-family: monospace;
  font-size: 3em;
}

li:hover {
  color: rgb(91, 20, 67);
}
